In [1]:
import os
import json
import pandas as pd
from components import db_functions

In [3]:

db_file = os.path.join('data','db','proteogyver.db')
db_conn = db_functions.create_connection(db_file)
runs = db_functions.get_full_table_as_pd(db_conn, 'ms_runs')
db_conn.close()

In [4]:
runs.head()

,run_id,run_name,sample_name,file_name,run_time,run_date,instrument,author,sample_type,run_type,...,tic_trace_smooth3,tic_trace_smooth6,tic_trace_smooth12,tic_trace_smooth20,tic_trace_smooth30,msn_unfiltered_trace_smooth3,msn_unfiltered_trace_smooth6,msn_unfiltered_trace_smooth12,msn_unfiltered_trace_smooth20,msn_unfiltered_trace_smooth30
0,4911,01_ABT1_R1,No data,D:\Data\Evosep runs\Iftekhar\Oulu_HA_Tag\Sampl...,2022-05-25 18:29:10,2022-05-25,Timppa,No data,No data,DDAPASEF,...,"{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4911"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,..."
1,5641,01_ABT1_R1,No data,D:\Data\Evosep runs\Iftekhar\Oulu_HA_Tag\Sampl...,2022-06-20 17:32:35,2022-06-20,Timppa,No data,No data,DDAPASEF,...,"{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5641"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,..."
2,5023,01_ABT1_R1,No data,D:\Data\Evosep runs\Iftekhar\Oulu_HA_Tag\Sampl...,2022-05-27 18:46:14,2022-05-27,Timppa,No data,No data,DDAPASEF,...,"{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5023"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,..."
3,4912,01_ABT1_R2,No data,D:\Data\Evosep runs\Iftekhar\Oulu_HA_Tag\Sampl...,2022-05-25 18:52:51,2022-05-25,Timppa,No data,No data,DDAPASEF,...,"{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""4912"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,..."
4,5642,01_ABT1_R2,No data,D:\Data\Evosep runs\Iftekhar\Oulu_HA_Tag\Sampl...,2022-06-20 17:56:17,2022-06-20,Timppa,No data,No data,DDAPASEF,...,"{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,...","{""name"":""5642"",""x"":[0,1,2,3,4,5,6,7,8,9,10,11,..."

In [9]:

trace_types: list = ['TIC','MSn_unfiltered']
required_columns = ['run_id','run_time','sample_type','instrument','chromatogram_max_time']
for tracename in trace_types:
    tracename = tracename.lower()
    required_columns.append(f'{tracename}_trace')
    required_columns.append(f'{tracename}_mean_intensity')
    required_columns.append(f'{tracename}_auc')
    required_columns.append(f'{tracename}_max_intensity')

dtypes: list = ['TIC','MSn_unfiltered']
tic_dic: dict = {t_type.lower(): {'traces': [] } for t_type in dtypes}
for trace_type in dtypes:
    trace_type = trace_type.lower()
    max_x: float = 1.0
    max_y: float = 1.0
    for _,row in ms_runs.iterrows():
        sample_row = expdesign[expdesign['Sampleid']==row['run_id']].iloc[0]
        trace = json.loads(row[f'{trace_type}_trace_smooth6'])